<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corrina is a Ninja</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
         <a href="{% url 'post_new' %}" class="top-menu">New Post</a>
    {% endif %}
    <h1>Corrina's Blog</h1>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
           {%block content%}
            {%endblock%}
        </div>
    </div>
</div>
</body>
</html>