<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corrina is a Swordfighter</title>
</head>
<body>
<div>
    <h1>Corrina's Blog</h1>
</div>

<div>
    <p>published: 07.11.2019, 3:18</p>
    <h2><a href=" "> My first post</a></h2>
    <p>When fighting a monster, make sure it is actually a threateneing monster, you don't want to hurt an inncoent monster.</p>
</div>

<div>
    <p>published: 07.11.2019, 3:21</p>
    <h2><a href="">My second post</a></h2>
    <p>If you have a unicorn companion, they can be very powerful in battle but that does not mean they are untouchable. Be sure to protect them.</p>
</div>

    
</body>
</html>